*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background: red;
}

.main{
    background-color: yellow;
}

.container{
    display: flex;
}

.devPic{
    flood-opacity: 50%;
    height: 10%;
    width: 10%;
}